* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  -webkit-app-region: drag;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 64px;
}

.quit-content {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-app-region: no-drag;
}

.quit-content:hover {
  transform: scale(1.05);
}
